[Unit]
Description=SMS to Telegam Proxy Container
# OnFailure=quadlet-notify@%n

[Container]
ContainerName=sms-to-telegram
Image=ghcr.io/konclave/sms-to-telegram:latest
EnvironmentFile=/etc/systemd-notify.env
Environment=DEVICE=/dev/ttyUSB0
Environment=QUEUE_ROOT=/var/spool/sms-forwarder
Environment=WORKER_PID_FILE=/var/run/sms-forwarder-worker.pid
Environment=ENQUEUE_LOG_PATH=/proc/1/fd/1
AddDevice=/dev/serial/by-id/usb-HUAWEI_Technologies_HUAWEI_Mobile-if00-port0:/dev/ttyUSB0
Volume=/var/lib/sms-to-telegram-queue:/var/spool/sms-forwarder:Z

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target default.target
